/* RESET RULES */
html{
    font-family: 'Whitney', sans-serif;;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style-type: none;
}

a {
	color: currentColor;
	text-decoration: none;
}
/* HEADER */
.main-header{
    padding: 16px 0;
    background-color: #255ee9;
    color: white;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    
    
}
.navbar .menu{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 8px;
}


/* LAYOUT */
.container{
    max-width: 900px;
    margin: 0 auto;
}
.container-sm{
    max-width: 720px;
    margin: 0 auto;
}
.row{
    display: flex;
    align-items: center;
}

.navbar .logo{
    padding: 8px;
}
.navbar .login{
    padding: 8px;
    background-color: white;
    border-radius: 16px;
}
.navbar .login >*{
    color: black;
    padding: 4px;
}
.col-100{
    width: 100%;
}
.col-80{
    width: 80%;
}
.col-40{
    width: 40%;
}
.col-60{
    width: 60%;
}
.col-33{
    width: 33%;
}
.col-16{
    width: calc(100%/6);
}
/* HERO */
.hero .row{
    justify-content: center;
    flex-direction: column;
}
.hero .row h1{
    padding: 24px;
}
.hero .row .col-100{
    line-height: 30px;
}
.cta-dw-white{
    color: black;
    border: 1px solid white;
    background-color: white;
    border-radius: 16px;
    padding: 8px;
}
.cta-dw-shark{
    color: black;
    border: 1px solid #23272a;
    background-color: #23272a;
    border-radius: 16px;
    padding: 8px;
}
.hero .col-100{
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
}
.bottom-nav .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero{
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero h1{
    font-size: 40px;
}

/* DEBUG */

/* .navbar.debug > *{
    border: 2px dashed black;
    background-color: #daa520;
} */
.hero.debug .row{
    border: 2px dashed black;
    min-height: 400px;
    
}
.debug.hero{
    background-color: #00008b;
    padding-top: 50px;
    padding-bottom: 100px;
    color: white;
    
}
.debug.feature .row{
    min-height: 300px;
    border: 2px dashed black;
}
.debug.feature .col-60{
    background-color: #1e90ff;
    height: 300px;
}
.debug.feature .col-40{
    background-color: #ffc0cb;
    height: 300px;
}
.debug.feature{
    padding: 30px;
}
.debug.bottom-feature .container .row{
    min-height: 500px;
    border: 2px dashed black;
    background-color: #228b22;
}
.debug.bottom-feature{
    padding: 30px;
}
.debug.multiple .row >*{
    min-height: 500px;
    border: 2px dashed black;
}
.debug.multiple{
    padding: 30px;
    border-bottom: 2px solid white;
}
.debug.bottom-nav .row{
   min-height: 70px;
   background-color: #7fffd4;
}
.debug.bottom-nav{
    padding-top: 30px;
}
.debug.bottom-nav .col{
    border: 2px dashed black;
    padding: 4px;
    background-color: #ffb6c1;
    
}
/* UTIL */
.bg-grey{
    background-color: #d3d3d3;
}
.bg-shark{
    background-color: #23272a;
}